/* Tablets */
@media (min-width: 541px) and (max-width: 1024px) {
}

@media (max-width: 540px) {
  .app-container {
    grid-template-columns: 100%;
    padding: 20px;
    grid-column-gap: 0;
    grid-row-gap: 40px;
  }

  .navbar-container {
    flex-direction: column;
  }

  .navbar-container > img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .showcase-container {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .showcase-container .showcase-text > h2:first-child {
    font-size: 3rem;
    font-weight: 700;
    color: #2a394f;
  }

  .showcase-container .showcase-text > h2:last-child {
    font-size: 3.5rem;
    font-weight: 700;
    color: #2a394f;
  }

  .showcase-container .showcase-text > p {
    margin-bottom: 10px;
    font-size: 0.825rem;
  }

  .showcase-container > img {
    width: 180px;
  }

  .hourly-forecast-container {
    padding: 20px;
    overflow-x: scroll;
    justify-content: center;
    gap: 30px;
  }

  .hourly-forecast-container .hour-weather-item > img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }

  .hourly-forecast-container .hour-weather-item > p:first-child {
    font-size: 0.825rem;
    text-align: center;
  }

  .hourly-forecast-container .hour-weather-item > p:last-child {
    font-size: 1.5rem;
  }

  .weather-details-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .weather-details-container .weather-detail-item {
    padding: 25px;
    min-height: 130px;
  }

  .weather-details-container .weather-detail-item > p:first-child {
    font-size: 0.825rem;
    color: #8f8f8f;
    margin-bottom: 10px;
  }

  .weather-details-container .weather-detail-item > div > p {
    font-size: 1.5rem;
  }

  .weather-details-container .weather-detail-item > div > p > span {
    font-size: 0.5rem;
    margin-left: -2px;
  }

  .weekly-forecast-container .day-weather-item > p {
    font-size: 0.925rem;
  }

  .weekly-forecast-container .day-weather-item > div > p:first-child {
    font-size: 0.875rem;
  }

  .weekly-forecast-container .day-weather-item > div > p:last-child {
    font-size: 0.875rem;
  }
}
